%table
	%tr
		%th= t("employees.firstname")
		%th= t("employees.lastname")
		%th= t("employees.extension")
		%th meer
	-@employees.each do |employee|
		%tr
			%td= employee.firstname
			%td= employee.lastname 
			%td= employee.extension
			%td= link_to 'meer', employee_path(employee), :class => "employee"
= will_paginate @employees
