<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t("employees.firstname") %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label t("employees.lastname") %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label t("employees.title") %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label t("employees.department") %><br />
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label t("employees.extension") %><br />
    <%= f.text_field :extension %>
  </div>
  <div class="field">
    <%= f.label t("employees.mobile") %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
