= form_for @employee, :html => { :multipart => true } do |f|
	- if @employee.errors.any?
		#error_explanation
			%h2= t('activerecord.errors.template.body')

			%ul
			- @employee.errors.full_messages.each do |msg|
				%li= msg
	.field
		= f.label t("employees.firstname")
		= f.text_field :firstname
	.field
		= f.label t("employees.lastname")
		= f.text_field :lastname
	.field
		= f.label t("employees.title")
		= f.text_field :title
	.field
		= f.label t("employees.department")
		= f.text_field :department
	.field
		= f.label t("employees.extension")
		= f.text_field :extension
	.field
		= f.label t("employees.mobile")
		= f.text_field :mobile
	.field
		= f.label t("employees.email")
		= f.text_field :email
	.field
		= f.label t("employees.skills")
		= f.text_field :skill_list
		%i
			= t("employees.skills-sample")
	.field
		= f.file_field :avatar
	.actions
		= f.submit