 
%h1 Alle medewerkers

= form_tag employees_path, :method => 'get', :id => "employees_search" do
	%p
		= text_field_tag :search, params[:search]
		= submit_tag "Search", :name => nil

%div#employees
	= render 'employees'

%br
= link_to 'New Employee', new_employee_path
