%p#notice=notice

#profile

	#profile-header
	
		%h1= @employee.fullname
		%span#title
			= @employee.department.name if @employee.department
			>
			= @employee.title.try(:capitalize)
	
	#profile-body
		.chapter
			%h2= t('employees.contact-title')
			.detail
				%span.key
					= t('employees.extension').downcase
				%span.value
					= @employee.extension
			.detail
				%span.key
					= t('employees.mobile').downcase
				%span.value
					= @employee.mobile
			.detail
				%span.key
					= t('employees.email').downcase
				%span.value
					= mail_to @employee.email, @employee.email
		.chapter
			%h2= t('employees.skills')
			.detail
				- @employee.skills.each do |skill|
					%span.value
					= skill
					|
		
%div.edit_employee
	%span
		= link_to t('employees.edit-profile'), edit_company_employee_path(@company, @employee)
		|
		= link_to t('employees.delete-profile'), @company_employee, :confirm => t("ask-for-confirmation"), :method => :delete
