%p#notice=notice

#profile

	#profile-header
		%span#profile-picture
			= image_tag @employee.avatar.url(:small)
		%h1= @employee.fullname
		%span#title
			= @employee.department
			>
			= @employee.title.capitalize
	
	#profile-body
		.chapter
			%h2= t('employees.contact-title')
			.detail
				%span.key
					= t('employees.extension').downcase
				%span.value
					= @employee.extension
			.detail
				%span.key
					= t('employees.mobile').downcase
				%span.value
					= @employee.mobile
			.detail
				%span.key
					= t('employees.email').downcase
				%span.value
					= @employee.extension
		.chapter
			%h2= t('employees.profile-title')
		.chapter
			%h2= t('employees.skills-title')
		
%p
	%span
		= link_to t('employees.edit-profile'), edit_employee_path(@employee)
		|
		= link_to t('employees.delete-profile'), @employee, :confirm => 'Are you sure?', :method => :delete
