%p.notice
	= notice

%h1=t('.show_all_departments')

%table
	%tr
		%th
			= t('.department')
		%th
			= t('.email')
		%th
			= t('.extension')
			
	-@departments.each do |department|
		%tr{:href => "#" }
			%td
				= department.name
			%td
				= department.email
			%td
				= department.extension
			%td
				= link_to t('show'), :controller => "departments", :action => "show", :id => department
			%td
				= link_to t('edit'), :controller => "departments", :action => "edit", :id => department
			%td
				= link_to t('destroy'), company_department_path(@company,department),:confirm => t("ask-for-confirmation"), :method => :delete

= link_to t('.new_department'), new_company_department_path
